@import "compass/reset";
@import "compass";

$mainWidth: 1300px;

body {
    font-family: Arial;
}

.alignCenter {
    margin: 0px auto;
}

.header {
	.alignCenter {
		width: 1300px;
	}
	background-color: #cccccc;
	height: 10%;
}

.content {
	.alignCenter {
		width: 1300px;
	}
	section.banner {
		height: 90%;
		.centerBlock {
			margin: 0 auto;
			width: 50%;
			height: 85%;
		}
		.bannerFooter {
			height: 5%;
		}
	}
}